header {
    height: 670px;
    background: url(../images/header_bg.jpg) no-repeat top center #131e27;
    padding-top: 32px;
    display: block;
    margin: 0px 0px;
}

.tag-line {
    margin-left: 50%;
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: 48px;
}

.tag-line {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}

.yellow-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background: #f9e42e;
    border: 5px;
    color: #033048;
    display: block;
}