body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 670px;
    background: url(../images/header_bg.jpg) no-repeat center #131e27;
    padding: 32px 0px 0px 0px;
}

.logo {
    font-weight: 800;
    color: white;
    margin-left: 25%;
    margin-top: 10px;
    font-size: 48px;
}

.tagline {
    font-weight: 600;
    color: white;
    font-size: 48px;
    text-align: center;
    padding-top: 5%;
}

.yellow {
    background: #f9e42e;
    color: #033048;
    margin: 100px 825px;
}

.button {
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    width: 280px;
    padding: 15px 0;
}

a {
    text-decoration: none;
    margin: 300px auto;
    margin-top: 5%;
    display: inline-block;
}

.benefits {
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    color: #033048;
}

article {
    font-weight: 300;
    color: #606161;
    font-size: 20px;
}

.quote {
    background: url(../images/testimonial_bg.jpg) no-repeat center #071324;
    height: 400px;
}

blockquote {
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    font-style: italic;
    padding: 75px 400px 75px 400px;
}

span {
    font-weight: 600;
    display: block;
    font-style: normal;
}

.sign-up {
    background: #f9e42e;
    height: 100px;
    width: auto;
    padding: 50px 800px 50px 800px;
}

.blue {
    background: #033048;
    color: white;
}

footer {
    background: #121212;
    height: auto;
    width: 100%;
}

.footer-logo {
    font-weight: 800;
    color: #f9e42e;
    font-size: 48px;
    text-align: center;
    margin: 0px;
    padding-top: 25px;
    display: block;

}

.copyright {
    font-weight: 600;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

#facebook {
   display: inline-block;
   text-align: center;
}

#facebook {
    margin: 22px 10px 20px 910px;
}

#twitter {
    margin: 22px 890px 20px 25px;
}

